@model PagedResponse

@{
  var pageNext = Model.Page + 1;
  var pageBack = Model.Page - 1;
}

<div class="table container">
  <div class="header padding-header">
    <h3 class="header-color">Storage</h3>
    <span class="header-color font-size-18">Кол-во файлов: @Model.TotalItems</span>
    <div class="row-flex width-24">
      <form asp-controller="Media"
            asp-action="DeleteFiles"
            asp-route-page="@Model.Page"
            asp-route-size="@Model.ItemsPerPage"
            class="hidden">
        <button class="button button-red">Удалить</button>
      </form>
      <form asp-controller="Media"
            asp-action="UploadFileForm"
            asp-route-page="@Model.Page"
            asp-route-size="@Model.ItemsPerPage"
            enctype="multipart/form-data">
        <input id="file" type="file" name="file" hidden>
        <label class="button button-blue" for="file">Загрузить файл</label>
      </form>
    </div>
  </div>
  <div class="row-header row-flex padding-row header-color">
    <input class="hover-pointer" type="checkbox">
    <span class="hover-pointer row-flex-width1">Имя</span>
    <span class="hover-pointer row-flex-width2">Размер</span>
    <span class="hover-pointer row-flex-width2">Тип</span>
    <span class="hover-pointer row-flex-width3">Дата</span>
  </div>
  <div>
    @await Html.PartialAsync("~/Views/Admin/PagedFiles.cshtml", Model)
  </div>
  <div class="pager" data-page="@Model.Page" data-total="@Model.TotalPages">
    <a asp-controller="Media"
       asp-action="AdminPage"
       asp-route-page="@pageBack"
       id="back"
       class="link header-color">←</a>
    <spawn class="page-text header-color">@Model.Page из @Model.TotalPages</spawn>
    <a asp-controller="Media"
       asp-action="AdminPage"
       asp-route-page="@pageNext"
       id="next"
       class="link header-color">→</a>
  </div>
</div>