@model PagedResponse

@foreach (var metadata in Model.FilesMetadata)
{
  <div>
    <div class="row-item row-flex padding-row">
      <input class="hover-pointer" type="checkbox">
      <span class="row-flex-width1">@metadata.Name</span>
      <span class="row-item-font row-flex-width2">@metadata.Size</span>
      <span class="row-item-font row-flex-width2">@metadata.Type</span>
      <span class="row-item-font row-flex-width3">@metadata.LastModified</span>
    </div>
    <div class="img-container" hidden>
      @if (metadata.Type != "video/mp4" && metadata.Type != "video/webm")
      {
        <img class="img-content" src="api/media/@metadata.Name" alt="Изображение">
      }
      else
      {
        <video class="img-content" src="api/media/@metadata.Name" type="@metadata.Type" controls></video>
      }
    </div>
  </div>
}